$primary: #2acc71;
$gray: #262626;
$gray-light: #383838;
$gray-lighter: #4b4b4b;
$white: white;

$table-color: $white;
$table-background-color: $gray;
$table-cell-border: 0;
$table-cell-border-width: 0d;
$table-cell-heading-color: $white;
$table-head-cell-border-width: 0;
$table-head-cell-color: $white;
$table-foot-cell-border-width: 0;
$table-foot-cell-color: $white;
$table-row-hover-background-color: $gray-lighter;
$table-row-active-background-color: $primary;
$table-row-active-color: $gray;
$table-striped-row-even-background-color: $gray-light;
$table-striped-row-even-hover-background-color: $gray-lighter;

@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/elements/table';

body {
  color: $white;
  background-color: $gray;
}

table {
  max-width: 1200px;
  margin: auto;
  border-collapse: collapse;
  text-align: right;
}

tr {
  transition: background-color 0.1s linear;

  &:first-of-type {
    border-bottom: 1px solid $white;
    
    &:hover {
      background-color: transparent !important;
    }
  }
  
  &:last-of-type {
    border-top: 1px solid $white;
  }
}

th {
  cursor: pointer;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: $gray-lighter;
  }

  &[sort="asc"]:after {
    content: ' \25b4';
  }
  
  &[sort="desc"]:after {
    content: ' \25be';
  }
}
